body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(#0a205a, #010913);
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 18px;
}
button {
  font-style: italic;
  font-family: 'Lora', serif;
  font-size: 18px;
  font-weight: 600;
}
ul {
  overflow: auto;
  height: 300px;
}
.wrapper {
  max-width: 550px;
  margin: 0 auto;
  padding: 35px;
  border-radius: 12px;
  background: linear-gradient(#0036ca29, #cee9003a);
  color: white;
}
#root {
  width: 100%;
}

.input,
.input__error {
  font-style: italic;
  font-family: 'Lora', serif;
  font-size: 18px;
  font-weight: 600;
  max-width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: none;
}
.input__error {
  box-shadow: inset 0px 0px 8px red;
}
.error {
  font-size: 12px;
  color: red;
}

.useful__info {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
.hide {
  opacity: 0;
  transition: all 0.3s ease;
}
.show__title {
  opacity: 1;
  transition: all 0.3s ease;
}
.show {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  position: absolute;
  left: -38px;
}
.show::after {
  content: 'i';
  position: absolute;
  color: black;
  font-size: 24px;
  font-weight: 500;
  left: 8px;
}
